<%- include('../partials/header') %>

<% genres.forEach(genre => { %>
    <h2 class="text-white text-center mb-4 mt-4 text-3xl font-extrabold leading-none tracking-tight"><%= genre %></h2>
    <ul class="mt-3">
        <% books.filter(book => book.genre === genre && book.haveRead).forEach(book => { %>
            <li class="text-center">
                <a href="/books/<%= book._id %>" class="text-blue-500 underline mr-2"><%= book.title %></a>
                <span class="text-white">
                    <% book.reviews.forEach(review => { %>
                        <% for (let i = 0; i < review.rating; i++) { %>
                            - <i class="fa-solid fa-star ml-1"></i>
                        <% } %>
                    <% }) %>
                </span>
            </li>
        <% }) %>
    </ul>
<% }) %>

<%- include('../partials/footer') %>
